<div id="body" #body>
<table>
  <tr>
    <td> <table>
      <tr>
        <app-petit-carree [color]="'red'" (changeColor)="changeBackgroundColor($event)"></app-petit-carree>
        <app-petit-carree [color]="'blue'" (changeColor)="changeBackgroundColor($event)"></app-petit-carree>
      </tr>
      <tr>
        <app-petit-carree [color]="'green'" (changeColor)="changeBackgroundColor($event)"></app-petit-carree>
        <app-petit-carree [color]="'orange'" (changeColor)="changeBackgroundColor($event)"></app-petit-carree>
      </tr>
    </table></td>
  </tr>
</table>
</div>
